.search {
  display: flex;
  align-items: center;
}

/* .searchbutton {
  color: white;
  background-color: #0046ba;
  height: 35px;
  display: flex;
  align-items: center;
}
.searchbutton:hover {
  background-color: white;
  color: #0046ba;
} */
.buy_no {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -33px;
  margin-left: 16px;
  border-radius: 11px;
  font-size: 15px;
  background-color: #cf3132;
  color: white;
}
.wish_no {
  width: 20px;
  margin-top: -33px;
  margin-left: 18px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  background-color: #cf3132;
  color: white;
}
.wishheart {
  color: #cf3231;
  font-size: 22px;
}
/* Navbar2 ----------------------------------------------------------------------------*/
.Navbar2 {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* a {
      text-decoration: none;
      padding: 20px;
      color: #0046ba;
      font-family: sans-serif;
      font-weight: 400;
    } */

.icon {
  display: flex;
  justify-content: end;
  margin: auto;
}
.sign {
  margin-left: 50px;
}
@media (max-width: 992px) {
  .icon {
    padding: 10px;
    justify-content: center;
  }
  img {
    display: flex;
    justify-content: center;
  }
}

/*sign dropdown ----------------------------------------------------------------------------------------------- */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -60px;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* category dropdown -------------------------------------------------------------------------------------------------- */
.category_dropdown-content {
  display: none;
  position: absolute;
  padding: 20px 0px;
  margin-left: -130px;
  background-color: white;
  width: 1050px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  left: 280px;
}

.category_dropdown-content a {
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
}
.category_dropdown-content p {
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
}

.category_dropdown-content a:hover {
  text-decoration: none;
  color: #0046ba;
}

.category_dropdown:hover .category_dropdown-content {
  display: block;
}
.dropdown_category-row {
  display: flex;
  justify-content: start;
}
.dropdown_category-row p {
  color: #cf3132;
  font-weight: 700;
}
.head_cat {
  margin-top: -20px;
}

/* sign profile----------------------------------------------------------------- */
.profile {
  height: 60px;
  /* width: 300px; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.usericon {
  padding: 20px;
}
.baricon {
  display: none;
}
@media (max-width: 950px) {
  .category {
    display: none;
  }
  .baricon {
    display: flex;
    justify-content: right;
    visibility: visible;
    margin-left: 800px;
  }
}
/* menu --------------------------------------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar style start  */
.main-nav {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 5rem 1fr 2fr 1fr 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #f8f9fa;
}

.menu-link {
  grid-column: 2/5;
}

.menu-link ul {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  grid-column: 2/5;
}

.menu-link ul li {
  font-size: 18px;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media .hamburger-menu {
  display: none;
}

/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 3rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .menu-link ul,
  .social-media ul {
    height: 3rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 3rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 16rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 3rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 20px;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 3rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .social-media {
    height: 3rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 22px;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 3rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .social-media {
    height: 3rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 20px;
  }
}
